--find-links https://download.pytorch.org/whl/torch_stable.html
torch===2.2.0
torchvision===0.8.1
cupy-cuda100==6.2.0
scipy
pillow==6.1.0
numpy==1.17.0
requests==2.32.2
tqdm==4.53.0
opencv-python==4.8.1.78
piq==0.5.2
scikit-image