--find-links https://download.pytorch.org/whl/torch_stable.html
torch===1.7.0
torchvision===0.8.1
cupy-cuda100==6.2.0
scipy
pillow==10.3.0
numpy==1.17.0
requests==2.25.0
tqdm==4.53.0
opencv-python==4.4.0.46
piq==0.5.2
scikit-image